# Directories #
build/
bin/
target/
# OS Files #
*.class
# Package Files #
*.jar
*.war
*.ear
*.db
########################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
.svn*
.svn/**
# Thumbnails
._*
######################
# Eclipse
######################
bin/**
build/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
# External tool builders
.externalToolBuilders/
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
